.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #d4bfbf;
    padding: 1.5rem;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-logo img {
    height: 3rem;
}

.nav-logo p {
    font-weight: 600;
    font-size: 1.2rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: purple;
}

.nav-links a:hover {
    color: rgb(221, 70, 221);
}